
.cuadrado{
    display: flex;
    flex-wrap: wrap;   
    padding-bottom: 10px;
}
.cuadritos{
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: top;
    padding: 60px;
    text-align: center;
    align-items: center;
    // overflow-y: auto;
    max-height: 300px;
    padding-top: 20px;
}
.cuadrines{
    background-color:black;
    // width: 170px;
    
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction:column;
    border-radius: 10px;
    // overflow-y:scroll;
    
}
// ::-webkit-scrollbar {
//     width: 8px;
//     max-height: 0px;
//     height: 1px;
//   }
// ::-webkit-scrollbar-thumb {
//     background-color: whitesmoke;    /* color of the scroll thumb */
//     border-radius: 20px;       /* roundness of the scroll thumb */
//     border: 3px solid black;
//   }
//   ::-webkit-scrollbar-thumb:hover{
//     background-color:grey;
//     transform: scale(1.4); 
//   }
  
.pic{
    width: 100%;
    height: 400px;
    text-align: center;
    img{
    width: 200px;
    height: 300px;  
    padding-top: 30px;
    
        
    }
    h2{
        font-size: 40px;
        text-align: center;
        padding-bottom: 100px;
    }
}
.nombre{
    width: 100%;
    align-items: center;
}
.flecha {
    float: left;
    margin: 10px;
    padding-top: 20px;
    text-decoration: none;
    align-items: flex-end;
  }
  .jeje {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items:flex-end;
    padding: -10px;
  }
  .volviendo {
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }
  .casa{
    width: 150px;
    height: 170px;
    align-items: center;
    justify-content: center;
  }
  .casasList2{
    display: flex;
    align-items: center; 
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 250px;
    // max-height: 200ch;
    // max-width: 200ch;
    padding: 0 0 50px 150px;
    border-radius: 6px;
  }

