body{
    display: flex;
    align-items:center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}
.form__group{
    width: 400px;
    padding-right: 1000px;
}
.casasList{
    display: flex;
    align-items: center; 
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // overflow-y: scroll;
    height: 580px;
    width: 2560px;
    max-height: 200ch;
    max-width: 200ch;
    padding: 50px 0 50px 150px;
    border-radius: 6px;
    .houses{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
// .simplebar-scrollbar::before{
//     width: 0;
// }

// .casasList::-webkit-scrollbar{
//     width: 0;
// }
