<footer>
    <a routerLink="characters" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'HOME.ONE' | translate}}</a>
    <!-- Personajes -->
    <a routerLink="houses" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'HOME.TWO' | translate}}</a>
    <!-- Casas -->
    <a routerLink="chronology" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'HOME.THREE' | translate}}</a>
    <!-- Cronologia -->
</footer>