footer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 30px;
    border: 0;
    padding: 0;
}
.footers-btn {
    background-color: transparent;
    font-family: Game of Thrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    top: 5em;  
    border: 0;
    padding: 0;
    margin: 0;
}
